@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

div.header {
  display: flex;
  flex: initial;
  align-items: flex-start;

}

div.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

div.footer {
  display: flex;
  align-items: flex-end;
  flex: initial;
  background-color: #eeeeee;
}

ul {
  margin: 0;
  padding: 16px;
}

ul.left-links, ul.right-links {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
}

ul.left-links {
  margin-right: auto;
  margin-left: 0;
}

ul.right-links {
  margin-left: auto;
  margin-right: 0;
}

a:link {
  text-decoration: none;
  color: rgb(54, 53, 53);
}

button {
  padding: 10px;
}